[*.cs]

# IDE0090: Użyj operatora „new(...)”
csharp_style_implicit_object_creation_when_type_is_apparent = false

# CS8618: Pole niedopuszczające wartości null musi zawierać wartość inną niż null podczas kończenia działania konstruktora. Rozważ zadeklarowanie pola jako dopuszczającego wartość null.
dotnet_diagnostic.CS8618.severity = none
